# APP SETTINGS
APP_URL="http://localhost"
APP_PORT="3000"

# DB CONNECTION
DB_HOST="localhost"
DB_PORT="3306"
DB_USER="root"
DB_PASSWORD=""
DB_NAME=""

# MAIL
MAIL_HOST=""
MAIL_PORT=""
MAIL_USER=""
MAIL_PASS=""

# email del gestore di WineGuys che riceve la notifica di ogni nuovo ordine
MAIL_OWNER=""

# PAYPAL
PAYPAL_CLIENT_ID=""
PAYPAL_SECRET=""
PAYPAL_MODE="sandbox"